@font-face {
    font-family: BaloonExtra;
    src: url(../assets/fonts/baloo2/Baloo2-ExtraBold.ttf);
}
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/static/Mulish-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');body{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
.page-top-banner{
    width: 100%;
    height: 300px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/CuaHang/breadcrumb_bg5.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 36px;
    color: #d3b673;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    user-select: none;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    font-family: BaloonExtra;
}
.page-content{
    box-sizing: border-box;
}
.page-title {
    font-family: BaloonExtra !important;
    font-size: 36px !important;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: -10px;
}
.page-content * {
    font-family: Muli;
    font-size: 16.2px;
    font-weight: bolder;
    user-select: none;
    text-align: left;
    color: #212529;
}
.page-content h2{
    line-height: 10px;
}
.wp-block-table{
    margin: auto;
    box-sizing: border-box;
}
.wp-block-table *{
    font-weight: 400;
    line-height: 20px;
}
.wp-block-table strong{
    font-weight: bolder;
}
.wp-block-table table {
    width: 100%;
    border-spacing: 1px 4px;
}
.wp-block-table td,.wp-block-table th {
    word-break: break-word;
    min-width: 3ch;
    display: table-cell;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}
/* 
.btn-delivery img {
  width: 60px;
  transition: all 0.5s;
  animation-name: ring-ring;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes ring-ring {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
} 
*/