@font-face {
    font-family: BalooExtra;
    src: url(../assets/fonts/baloo2/Baloo2-ExtraBold.ttf);
}
@font-face {
    font-family: Muli;
    src: url(../assets/fonts/mulish/Mulish-Regular.ttf);
}
@font-face {
    font-family: Barlow;
    src: url(../assets/fonts/barlow/Barlow-Regular.ttf);
}