body{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
.page-title-section{
    padding: 10px;
}
p{
    margin-bottom: 1rem !important;
    line-height: 24px;
}
p:not(:has(.page-title)){
    font-family: Muli;
    font-weight: 300;
    font-size: 16px;
}
.picture{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.picture img{
    width: 80%;
}
.picture-thanh-tuu img{
    width: 100%;
}