:root {
  --main-color: hsl(40, 55%, 66%);
  --text-color: hsl(40, 95%, 25%);
}

/* ------------------------------------
# General
------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
html::-webkit-scrollbar-track {
  background-color: #fff;
}

body {
  background-color: #f8f9fa;
  font-family: Barlow;
  font-size: 1.4rem;
  max-width: 100vw;
}
a,
a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.button {
  background-color: var(--main-color);
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

/* ------------------------------------
# Order header
------------------------------------- */
#order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: #fff;
  transition: 0.4s ease-in-out;
}
#order-header.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}
#order-header .order-logo img {
  width: 15rem;
}

#order-header .order-search {
  width: 50rem;
  position: relative;
  margin-right: 3.5rem;
}
#order-header .order-search #btn-search {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 2rem;
  color: var(--text-color);
}

#order-header .order-search input {
  width: 100%;
  padding: 1rem 2rem 1rem 4rem;
  background-position: 10px center;
  background-size: 20px;
  font-size: 14px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}
#order-header .order-search input:focus {
  border: 1px solid var(--main-color);
}
#order-header .order-user {
  display: flex;
  align-items: center;
}
#order-header .shopping {
  position: relative;
  text-align: right;
  margin-right: 3rem;
}
#order-header .cart {
  font-size: 3rem;
  color: var(--text-color);
}
#order-header .shopping span#quantity {
  position: absolute;
  top: -0.3rem;
  left: 80%;
  padding: 0.3rem 0.8rem;
  background: var(--main-color);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#order-header .shopping .card {
  display: none;
}

@media screen and (max-width: 992px) {
  #order-header .order-search {
    width: 30rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #order-header {
    padding: 1rem 3rem;
  }
  #order-header .order-logo img {
    width: 14.5rem;
  }
  #order-header .order-search #btn-search {
    left: 100%;
    font-size: 3rem;
  }
  #order-header .order-search input {
    position: fixed;
    top: 7rem;
    left: 0;
    right: 0;
    padding-left: 2rem;
    transform: scaleY(0);
    transform-origin: top;
    transition-duration: 0.3s;
  }
  #order-header .order-search input.active {
    transform: scale(1);
  }
}

/* ------------------------------------
# Order cart
------------------------------------- */
.page-order {
  padding: 3rem 10rem;
  display: flex;
  justify-content: center;
}
.page-order .order-cart {
  width: 300px;
  box-sizing: content-box;
  display: inline-block;
  height: fit-content;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 10px;
}
.page-order .order-cart .cart-header {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color);
  padding: 10px 15px;
}
.page-order .order-cart .cart-header h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.page-order .order-cart .cart-header button {
  background: none;
  border: 1px solid var(--main-color);
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 200;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.page-order .order-cart .cart-header button:hover {
  background-color: var(--main-color);
  color: #fff;
}
.page-order .order-cart .cart-button {
  margin: 15px;
  width: calc(100% - 30px);
}

.cart-group-part1 {
  margin: 20px 15px 0;
  display: flex;
  align-items: center;
}
.cart-group-part1 img {
  width: 20px;
}
.cart-group-part1 span {
  font-size: 16px;
  font-weight: 500;
  margin: 0 2px;
}

.page-order .order-catagories {
  display: none;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--main-color);
}
.page-order .order-catagories a {
  padding: 8px 15px;
  margin-left: 30px;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: 0.2s linear;
}
.page-order .order-catagories a:hover,
.page-order .order-catagories a.active {
  background: var(--main-color);
  color: #fff;
}
.page-order .order-catagories a .order-catagories-title {
  white-space: nowrap;
}
/* ------------------------------------
# Order product
------------------------------------- */
.order-content {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-content .order-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  align-items: stretch;
}
.order-content .order-catagory h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 4rem 0 2rem 0;
  border-bottom: 1px solid var(--main-color);
}
.order-content .order-catagory h2:first-child {
  margin-top: 3rem;
}
.order-content .order-catagory .collapse {
  margin-left: auto;
  font-size: 3rem;
  cursor: pointer;
}
.order-content .order-container.collapsed {
  transform: scaleY(0);
  transform-origin: top;
  height: 0;
  transition-duration: 0.2s;
}
.order-content .product {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 1.6rem var(--main-color);
  cursor: pointer;
}
.order-content .product img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.order-content .product .product-desc {
  margin: 10px;
}
.order-content .product .product-desc h3 {
  font-weight: 600;
  font-size: 2rem;
  margin: 10px 0;
  text-transform: capitalize;
}
.order-content .product .product-desc span {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.order-content .product .product-desc .cost {
  margin-left: 5px;
  text-decoration: line-through;
  color: #888;
}
.order-content .product .product-desc .btn-add-to-card {
  width: 100%;
  margin-top: auto;
  border: none;
  background: none;
  box-sizing: content-box;
  font-size: 3rem;
  font-weight: 500;
  text-align: right;
  color: var(--text-color);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .page-order {
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 0;
  }
  .order-content {
    width: calc(100vw - 4rem);
    padding: 0 1.5rem;
  }
  .order-content .order-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .order-content .order-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .order-content .order-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .order-content .order-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
